Repository elastic/apm-integration-testing: changes, and which Mergify rules are due for each by the changed paths.
All: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified., automatic merge when CI passes and the file scripts/modules/cli.py is modified.

automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.:
  queue:
    name: auto-merge
    method: squash

automatic merge when CI passes and the file scripts/modules/cli.py is modified.:
  queue:
    name: auto-merge
    method: squash

Apply suggestions from code review
  .ci/scripts/all.sh
  .ci/scripts/php.sh
  docker/php/apache/Dockerfile
  docker/php/apache/app/foo/index.php
  docker/php/apache/ext-elastic-apm.ini
  pytest.ini
  scripts/modules/apm_agents.py
Due: none

Update .ci/scripts/php.sh
  .ci/scripts/php.sh
Due: none

Update .ci/Jenkinsfile
  .ci/Jenkinsfile
Due: none

Update Dockerfile
  docker/dotnet/Dockerfile
Due: none

Revert "Adapt to breaking changes in 8.0 (#1312)"
  .ci/integrationTestEC.groovy
  .ci/integrationTestECK.groovy
  .ci/scripts/8.0-upgrade.sh
  .ci/scripts/agent.sh
  .ci/scripts/common.sh
  .ci/scripts/dotnet.sh
  .ci/scripts/go.sh
  .ci/scripts/java.sh
  .ci/scripts/kibana.sh
  .ci/scripts/nodejs.sh
  .ci/scripts/opbeans-app.sh
  .ci/scripts/opbeans-rum.sh
  .ci/scripts/opbeans.sh
  .ci/scripts/php.sh
  .ci/scripts/python.sh
  .ci/scripts/ruby.sh
  .ci/scripts/rum.sh
  Makefile
  README.md
  requirements.txt
  scripts/modules/cli.py
  scripts/modules/elastic_stack.py
  scripts/tests/test_localsetup.py
  scripts/tests/test_service.py
  tests/agent/concurrent_requests.py
  tests/fixtures/es.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

ci: remove trigger for EC/ECK validations
  .ci/integrationTestEC.groovy
  .ci/integrationTestECK.groovy
Due: none

use 7.16 references
  .ci/bump-go-release-version.sh
  .ci/integrationTestDownstream.groovy
  tests/versions/apm_server.yml
  tests/versions/dotnet.yml
  tests/versions/go.yml
  tests/versions/php.yml
  tests/versions/python.yml
  tests/versions/rum.yml
Due: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.

Required change from the revert I made
  scripts/tests/test_localsetup.py
Due: none

ci: use release
  .ci/Jenkinsfile
  .ci/integrationTestDownstream.groovy
  .ci/integrationTestSelector.groovy
Due: none

Revert "test: run APM Server managed (#1031)"
  .ci/scripts/common.sh
Due: none

versions: wrong versions
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

Fix PHP test to not include query string in transaction name
  tests/agent/test_php.py
Due: none

remove EOL versions 7.7 and 7.8
  tests/versions/apm_server.yml
Due: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.

fix typo
  tests/versions/php.yml
Due: none

Update dockerfile for .NET test to use .NET6 (#1412)
  docker/dotnet/Dockerfile
Due: none

apm-agent-go: 7.x support uses 1.x version
  tests/versions/go.yml
Due: none

[7.x] Default to opbeans-go and apm-agent-go 1.x (#1367)
  docker/go/nethttp/Dockerfile
  docker/opbeans/go/Dockerfile
  scripts/modules/opbeans.py
  scripts/tests/test_localsetup.py
Due: none

Apply suggestions from code review
  docker/go/nethttp/Dockerfile
  docker/opbeans/go/Dockerfile
  scripts/modules/opbeans.py
  scripts/tests/test_localsetup.py
Due: none

remove EOL versions 7.7 and 7.8 (#1416)
  tests/versions/apm_server.yml
Due: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.

versions: wrong versions (#1414)
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

apm-agent-go: 7.x support uses 1.x version (#1419)
  tests/versions/go.yml
Due: none

main: update references for main (#1407)
  .ci/Jenkinsfile
  QUICKSTART.md
  README.md
  scripts/modules/apm_agents.py
Due: none

Update dockerfile for opbeans-dotnet to use .NET6
  docker/opbeans/dotnet/Dockerfile
Due: none

Update dockerfile for opbeans-dotnet to use .NET6 (#1423)
  docker/opbeans/dotnet/Dockerfile
Due: none

fix missing master reference
  scripts/tests/test_service.py
Due: none

apm-server: main (#1397)
  .ci/bump-go-release-version.sh
  .ci/bump-stack-release-version.sh
  README.md
  docker/apm-server/Dockerfile
  scripts/kibana/validate-ts-interfaces-against-apm-server-sample-docs/scripts/download-sample-docs.ts
  scripts/modules/apm_agents.py
  scripts/modules/cli.py
  scripts/modules/elastic_stack.py
  scripts/tests/test_localsetup.py
  scripts/tests/test_service.py
  tests/versions/apm_server.yml
Due: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified., automatic merge when CI passes and the file scripts/modules/cli.py is modified.

apm-server: main (#1397)
  .ci/bump-go-release-version.sh
  .ci/bump-stack-release-version.sh
  README.md
  docker/apm-server/Dockerfile
  scripts/kibana/validate-ts-interfaces-against-apm-server-sample-docs/scripts/download-sample-docs.ts
  scripts/modules/cli.py
  scripts/modules/elastic_stack.py
  scripts/tests/test_localsetup.py
  scripts/tests/test_service.py
  tests/versions/apm_server.yml
Due: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified., automatic merge when CI passes and the file scripts/modules/cli.py is modified.

[Automation] Update elastic stack release version to 7.17.0
  .ci/scripts/common.sh
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

[Automation] Update elastic stack release version to 7.17.0 (#1426)
  .ci/scripts/common.sh
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

obs-test-env: main branch (#1396)
  .ci/integrationTestEC.groovy
  .ci/integrationTestECK.groovy
Due: none

Path conditions:
  automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.: any of: ^tests/versions/apm_server.yml$
  automatic merge when CI passes and the file scripts/modules/cli.py is modified.: any of: ^scripts/modules/cli.py$
