Repository elastic/apm-integration-testing: changes, and which Mergify rules are due for each by the changed paths.
All: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified., automatic merge when CI passes and the file scripts/modules/cli.py is modified.

automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.:
  queue:
    name: auto-merge
    method: squash

automatic merge when CI passes and the file scripts/modules/cli.py is modified.:
  queue:
    name: auto-merge
    method: squash

obs-test-env: main branch (#1396)
  .ci/integrationTestEC.groovy
  .ci/integrationTestECK.groovy
Due: none

[Automation] Update go release version to 1.17.6
  docker/apm-server/Dockerfile
Due: none

chore: EOL of 6.x
  .ci/jobs/apm-integration-test-downstream.yml
  .ci/jobs/apm-integration-tests-selector-mbp.yml
  .ci/jobs/apm-integration-tests-upgrade-mbp.yml
  .ci/jobs/apm-integration-tests.yml
  .ci/jobs/apm-it-ec.yml
  .ci/jobs/apm-it-eck.yml
Due: none

fix: Go agent tests
  scripts/modules/apm_agents.py
Due: none

fix: lint
  scripts/tests/test_service.py
Due: none

chore: EOL of 6.x (#1432)
  .ci/jobs/apm-integration-test-downstream.yml
  .ci/jobs/apm-integration-tests-selector-mbp.yml
  .ci/jobs/apm-integration-tests-upgrade-mbp.yml
  .ci/jobs/apm-integration-tests.yml
  .ci/jobs/apm-it-ec.yml
  .ci/jobs/apm-it-eck.yml
Due: none

chore: EOL of 6.x (#1432)
  .ci/jobs/apm-integration-tests-selector-mbp.yml
  .ci/jobs/apm-integration-tests-upgrade-mbp.yml
  .ci/jobs/apm-integration-tests.yml
  .ci/jobs/apm-it-ec.yml
  .ci/jobs/apm-it-eck.yml
Due: none

fix: Go agent tests (#1433)
  scripts/modules/apm_agents.py
  scripts/tests/test_service.py
Due: none

[Automation] Update go release version to 1.17.6 (#1431)
  docker/apm-server/Dockerfile
Due: none

Update cli.py
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

Apply suggestions from code review
  .ci/integrationTestEC.groovy
  .ci/integrationTestECK.groovy
Due: none

[Automation] Update elastic stack release version to 7.17.0
  .ci/scripts/common.sh
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

[Automation] Update elastic stack release version to 7.17.0 (#1438)
  .ci/scripts/common.sh
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

Apply suggestions from code review
  .ci/bump-go-release-version.sh
  README.md
  tests/versions/apm_server.yml
Due: automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.

Update README.md
  README.md
Due: none

[Automation] Update go release version to 1.17.6 (#1439)
  docker/apm-server/Dockerfile
Due: none

feat: split apm managed execution implementation for 8+
  docker/elasticsearch/service_tokens
  docker/kibana/kibana-8.yml
  scripts/modules/aux_services.py
  scripts/modules/cli.py
  scripts/modules/elastic_stack.py
  scripts/modules/service.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

Update docker/kibana/kibana-8.yml
  docker/kibana/kibana-8.yml
Due: none

test: configuration tests
  docker/kibana/kibana-8.yml
  scripts/modules/cli.py
  scripts/tests/config/test_apm_managed.yml
  scripts/tests/config/test_start_main_default.yml
  scripts/tests/test_localsetup.py
  scripts/tests/test_service.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

Allow `opbeans-loadgen` to run without webserver
  docker/apm-server/teeproxy/Dockerfile
  scripts/modules/opbeans.py
Due: none

Use insert instead of append
  scripts/modules/opbeans.py
Due: none

Allow `opbeans-loadgen` to run without webserver (#1441)
  docker/apm-server/teeproxy/Dockerfile
  scripts/modules/opbeans.py
Due: none

recorder: Use intake receiver as recorder
  .dockerignore
  .gitignore
  Makefile
  docker/intake-receiver/Dockerfile
  scripts/modules/elastic_stack.py
Due: none

recorder: Use intake receiver as recorder (#1444)
  .dockerignore
  .gitignore
  Makefile
  docker/intake-receiver/Dockerfile
  scripts/modules/elastic_stack.py
Due: none

[Automation] Update elastic stack release version to 8.0.1
  .ci/scripts/common.sh
Due: none

[Automation] Update elastic stack release version to 7.17.1
  .ci/scripts/common.sh
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

[Automation] Update elastic stack release version to 7.17.1 (#1447)
  .ci/scripts/common.sh
  scripts/modules/cli.py
Due: automatic merge when CI passes and the file scripts/modules/cli.py is modified.

intake-receiver: Rename traces to events
  .dockerignore
  .gitignore
  Makefile
Due: none

intake-receiver: Rename traces to events (#1448)
  .dockerignore
  .gitignore
  Makefile
Due: none

fix: add newline
  scripts/modules/elastic_stack.py
Due: none

[Automation] Update elastic stack release version to 8.1.0
  .ci/scripts/common.sh
Due: none

[Automation] Update elastic stack release version to 8.1.0 (#1450)
  .ci/scripts/common.sh
Due: none

Path conditions:
  automatic merge when CI passes and the file tests/versions/apm_server.yml is modified.: any of: ^tests/versions/apm_server.yml$
  automatic merge when CI passes and the file scripts/modules/cli.py is modified.: any of: ^scripts/modules/cli.py$
