Repository elastic/apm-integration-testing: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-case-conflict
        exclude: ^target/
    -   id: check-executables-have-shebangs
        exclude: ^target/
    -   id: check-json
        exclude: ^target/
    -   id: check-merge-conflict
        exclude: ^target/
    -   id: check-yaml
        exclude: ^target/
    -   id: check-xml
        exclude: ^target/
    -   id: end-of-file-fixer
        exclude: ^target/

-   repo: https://github.com/detailyang/pre-commit-shell.git
    rev: master
    hooks:
    -   id: shell-lint
        name: "Shellscript: lint"
        stages: [commit]
        types: [shell]
        exclude: (^mvnw$|^target/)

-   repo: https://github.com/adrienverge/yamllint.git
    rev: master
    hooks:
    -   id: yamllint
        name: "Yaml: lint"
        args: ['-c .ci/.yamlint.yml']
        stages: [commit]
        types: [yaml]
        exclude: (^.pre-commit-config.yaml$|^.ci/.yamlint.yml$|^target/)

-   repo: local
    hooks:
    -   id: check-bash-syntax
        name: Check Shell scripts syntax corectness
        language: system
        entry: bash -n
        files: \.sh$
        exclude: ^target/
    -   id: forbid-abstract-classes-and-traits
        name: Ensure neither abstract classes nor traits are used
        language: pygrep
        entry: "^(abstract|trait) "
        files: ^src/.*\.groovy$
        exclude: ^target/
    -   id: force-JsonSlurperClassic
        name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
        language: pygrep
        entry: JsonSlurper[^C]
        files: \.groovy$
        exclude: ^target/
    -   id: Jenkinsfile-linter
        name: Check syntax of the Jenkinsfiles
        description: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
        files: ^.ci/(.*\.groovy|Jenkinsfile)$
        entry: .ci/scripts/validate.sh
        language: script
        verbose: true
        exclude: ^target/
    -   id: forbid-unicode-non-breaking-spaces
        name: Detect unicode non-breaking space character U+00A0 aka M-BM-
        language: system
        entry: perl -ne 'print if $m = /\xc2\xa0/; $t ||= $m; END{{exit $t}}'
    -   id: remove-unicode-non-breaking-spaces
        name: Remove unicode non-breaking space character U+00A0 aka M-BM-
        language: system
        entry: perl -pi* -e 's/\xc2\xa0/ /g && ($t = 1) && print STDERR $_; END{{exit
            $t}}'
        exclude: ^target/
    -   id: forbid-en-dashes
        name: Detect the EXTREMELY confusing unicode character U+2013
        language: system
        entry: perl -ne 'print if $m = /\xe2\x80\x93/; $t ||= $m; END{{exit $t}}'
        exclude: ^target/
    -   id: remove-en-dashes
        name: Remove the EXTREMELY confusing unicode character U+2013
        language: system
        entry: perl -pi* -e 's/\xe2\x80\x93/-/g && ($t = 1) && print STDERR $_; END{{exit
            $t}}'
        exclude: ^target/

fix: pre-commit lint defects
  docker/apm-server-proxy/Dockerfile
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

use relative folders
  .gitignore
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci: enable junit reporting for the pre-commit stage (#564)
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: enable opbeans customisation (#556)
  .ci/integrationTestSelector.groovy
  .ci/scripts/opbeans.sh
  README.md
  docker/opbeans/dotnet/Dockerfile
  docker/opbeans/dotnet/run.sh
  docker/opbeans/go/Dockerfile
  docker/opbeans/java/Dockerfile
  docker/opbeans/node/Dockerfile
  docker/opbeans/python/Dockerfile
  docker/opbeans/ruby/Dockerfile
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: check-bash-syntax, force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

add basic apm-server recorder
  docker/apm-server/recorder/Dockerfile
  docker/apm-server/recorder/main.go
  docker/apm-server/teeproxy/Dockerfile
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

fix: elastic namespace should be opbeans namespace (see https://hub.docker.com/u/opbeans)
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

opbeans-go and opbeans-dotnet use the github repo
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

fix: elastic namespace should be opbeans (#569)
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

bump version to the last release
  docker/dotnet/aspnetcore/TestAspNetCoreApp.csproj
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: use the pre-commit hooks library of apm-pipeline-library
  .ci/Jenkinsfile
  .ci/scripts/validate.sh
  .pre-commit-config.yaml
Due: check-bash-syntax, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

bump agent-dotnet version to the last release (#570)
  docker/dotnet/aspnetcore/TestAspNetCoreApp.csproj
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

let's use the step itself as it does inject the credentials internally
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Apply suggestions from code review
  .pre-commit-config.yaml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: use the pre-commit hooks library of apm-pipeline-library (#571)
  .ci/scripts/validate.sh
  .pre-commit-config.yaml
Due: check-bash-syntax, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

shrink critical section
  docker/apm-server/recorder/go.mod
  docker/apm-server/recorder/main.go
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci(jenkins): avoid using master with or to skip running in the master-worker
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci(jenkins): avoid using master with or to skip running in the master-worker (#576)
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci(jenkins): this is required to avoid using a common worker
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci(jenkins): this is required to avoid using a common worker (#577)
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

update apm-server healthcheck url
  docker/apm-server/haproxy/docker-entrypoint.sh
Due: check-bash-syntax, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

update versions
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

update versions (#581)
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Fix broken link
  README.md
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Fix .ci/scripts link
  README.md
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: disable shallow cloning when using downstream pipelines
  .ci/integrationTestDownstream.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: disable shallow cloning when using downstream pipelines (#583)
  .ci/integrationTestDownstream.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci(jenkins): Set GitHub notification context to apm-ci
  .ci/jobs/apm-integration-test-downstream.yml
  .ci/jobs/apm-integration-tests-selector-mbp.yml
  .ci/jobs/apm-integration-tests-upgrade-mbp.yml
  .ci/jobs/apm-integration-tests.yml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci(jenkins): Set GitHub notification context to apm-ci (#584)
  .ci/jobs/apm-integration-test-downstream.yml
  .ci/jobs/apm-integration-tests-selector-mbp.yml
  .ci/jobs/apm-integration-tests-upgrade-mbp.yml
  .ci/jobs/apm-integration-tests.yml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: update scripts (#563)
  .ci/scripts/gren
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: disable shallow cloning when using downstream pipelines (#583) (#586)
  .ci/integrationTestDownstream.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: disable shallow cloning when using downstream pipelines (#583) (#585)
  .ci/integrationTestDownstream.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: disable shallow cloning when using downstream pipelines (#583) (#587)
  .ci/integrationTestDownstream.groovy
Due: force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

bump 6.8 version
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

bump 6.8 version (#589)
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

bump dotnet apm-agent version https://github.com/elastic/apm-agent-dotnet/releases/tag/1.0.1
  docker/dotnet/aspnetcore/TestAspNetCoreApp.csproj
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

bump dotnet apm-agent version (#590)
  docker/dotnet/aspnetcore/TestAspNetCoreApp.csproj
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

add apm-server file output options
  scripts/compose.py
  scripts/tests/service_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes
