Repository elastic/apm-integration-testing: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-bash-syntax, forbid-abstract-classes-and-traits, force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

.pre-commit-config.yaml:

repos:
-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: check-case-conflict
        exclude: ^target/
    -   id: check-executables-have-shebangs
        exclude: ^target/
    -   id: check-json
        exclude: ^target/
    -   id: check-merge-conflict
        exclude: ^target/
    -   id: check-yaml
        exclude: ^target/
    -   id: check-xml
        exclude: ^target/
    -   id: end-of-file-fixer
        exclude: ^target/

-   repo: https://github.com/detailyang/pre-commit-shell.git
    rev: master
    hooks:
    -   id: shell-lint
        name: "Shellscript: lint"
        stages: [commit]
        types: [shell]
        exclude: (^mvnw$|^target/)

-   repo: https://github.com/adrienverge/yamllint.git
    rev: master
    hooks:
    -   id: yamllint
        name: "Yaml: lint"
        args: ['-c .ci/.yamlint.yml']
        stages: [commit]
        types: [yaml]
        exclude: (^.pre-commit-config.yaml$|^.ci/.yamlint.yml$|^target/)

-   repo: local
    hooks:
    -   id: check-bash-syntax
        name: Check Shell scripts syntax corectness
        language: system
        entry: bash -n
        files: \.sh$
        exclude: ^target/
    -   id: forbid-abstract-classes-and-traits
        name: Ensure neither abstract classes nor traits are used
        language: pygrep
        entry: "^(abstract|trait) "
        files: ^src/.*\.groovy$
        exclude: ^target/
    -   id: force-JsonSlurperClassic
        name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
        language: pygrep
        entry: JsonSlurper[^C]
        files: \.groovy$
        exclude: ^target/
    -   id: Jenkinsfile-linter
        name: Check syntax of the Jenkinsfiles
        description: Check Jenkinsfile following the scripted-pipeline syntax using Jenkins API
        files: ^.ci/(.*\.groovy|Jenkinsfile)$
        entry: .ci/scripts/validate.sh
        language: script
        verbose: true
        exclude: ^target/
    -   id: forbid-unicode-non-breaking-spaces
        name: Detect unicode non-breaking space character U+00A0 aka M-BM-
        language: system
        entry: perl -ne 'print if $m = /\xc2\xa0/; $t ||= $m; END{{exit $t}}'
    -   id: remove-unicode-non-breaking-spaces
        name: Remove unicode non-breaking space character U+00A0 aka M-BM-
        language: system
        entry: perl -pi* -e 's/\xc2\xa0/ /g && ($t = 1) && print STDERR $_; END{{exit
            $t}}'
        exclude: ^target/
    -   id: forbid-en-dashes
        name: Detect the EXTREMELY confusing unicode character U+2013
        language: system
        entry: perl -ne 'print if $m = /\xe2\x80\x93/; $t ||= $m; END{{exit $t}}'
        exclude: ^target/
    -   id: remove-en-dashes
        name: Remove the EXTREMELY confusing unicode character U+2013
        language: system
        entry: perl -pi* -e 's/\xe2\x80\x93/-/g && ($t = 1) && print STDERR $_; END{{exit
            $t}}'
        exclude: ^target/

docker/opbeans/go: CGO_ENABLED=0
  docker/opbeans/go/Dockerfile
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: backport config (#546)
  .backportrc.json
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

[6.x] feat: pre-commit config (#547) (#549)
  .ci/.yamlint.yml
  .pre-commit-config.yaml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

[6.x-v1] feat: pre-commit config (#547) (#550)
  .ci/.yamlint.yml
  .pre-commit-config.yaml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

[7.x] feat: pre-commit config (#547) (#551)
  .ci/.yamlint.yml
  .pre-commit-config.yaml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

fix: yamlint arguments
  .pre-commit-config.yaml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci: enable pre-commit stage
  .ci/Jenkinsfile
  .ci/scripts/shellcheck
  .ci/scripts/validate.sh
  .ci/scripts/yamllint
Due: check-bash-syntax, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: enable opbeans git checkout customisation
  docker/opbeans/go/Dockerfile
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

finally fix typo
  scripts/compose.py
  scripts/tests/localsetup_tests.py
  scripts/tests/service_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: enable opbeans git checkout customisation for dotnet
  docker/opbeans/dotnet/Dockerfile
  docker/opbeans/dotnet/run.sh
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: check-bash-syntax, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

it's not anymore a common flag as other opbeans might use another approach for pulling their docker images
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

finally fix typo (#558)
  scripts/compose.py
  scripts/tests/localsetup_tests.py
  scripts/tests/service_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

support to customse the image tag for the reamining opbeans
  docker/opbeans/java/Dockerfile
  docker/opbeans/node/Dockerfile
  docker/opbeans/python/Dockerfile
  docker/opbeans/ruby/Dockerfile
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci: enable pre-commit stage (#555)
  .ci/Jenkinsfile
  .ci/scripts/shellcheck
  .ci/scripts/validate.sh
  .ci/scripts/yamllint
Due: check-bash-syntax, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

rename ARG to contain the agent name
  docker/opbeans/java/Dockerfile
  docker/opbeans/node/Dockerfile
  docker/opbeans/python/Dockerfile
  docker/opbeans/ruby/Dockerfile
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

args is required at the very beginning to be able to build
  docker/opbeans/java/Dockerfile
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

enable to skip pull when running docker-compose, then it can use cached docker images
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

enable opbeans to validate the opbeans agents
  .ci/integrationTestSelector.groovy
  .ci/scripts/opbeans.sh
  README.md
Due: check-bash-syntax, force-JsonSlurperClassic, Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Revert "docker/opbeans/go: CGO_ENABLED=0"
  docker/opbeans/go/Dockerfile
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

fix: opbeans - disabling cgo
  docker/opbeans/go/Dockerfile
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

customise the docker image and version
  docker/opbeans/java/Dockerfile
  docker/opbeans/node/Dockerfile
  docker/opbeans/python/Dockerfile
  docker/opbeans/ruby/Dockerfile
  scripts/compose.py
  scripts/tests/localsetup_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

fix: opbeans - disabling cgo (#559)
  docker/opbeans/go/Dockerfile
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

fix default tee build
  scripts/compose.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: update scripts
  .ci/scripts/gren
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: update scripts (#561)
  .ci/scripts/gren
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Revert "feat: update scripts (#561)"
  .ci/scripts/gren
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Revert "feat: update scripts (#561)" (#562)
  .ci/scripts/gren
  .ci/scripts/shellcheck
  .ci/scripts/yamllint
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci: pre-commit output to junit
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Add apm-server-proxy
  .gitignore
  docker/apm-server-proxy/Dockerfile
  docker/apm-server-proxy/package.json
  docker/apm-server-proxy/server.js
  docker/apm-server-proxy/yarn.lock
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

support tee to multiple backends
  scripts/compose.py
  scripts/tests/service_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

add --apm-server-record option
  scripts/compose.py
  scripts/tests/service_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci: update JJBB to ignore branches which are also filled as PRs
  .ci/jobs/apm-integration-tests.yml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

ci: update JJBB to ignore branches which are also filled as PRs (#566)
  .ci/jobs/apm-integration-tests.yml
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

feat: use step from the shared library
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

skipDefaultCheckout in the test stages as it was already stashed
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

Let's use the right step
  .ci/Jenkinsfile
Due: Jenkinsfile-linter, remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes

this file was marked executable but has no (or invalid) shebang
  scripts/tests/service_tests.py
Due: remove-unicode-non-breaking-spaces, forbid-en-dashes, remove-en-dashes
